<!DOCTYPE html>
<html lang="en">

{{> header }}

  <body>
    {{> navbar }}

    <div class="row container-fluid">
      <div class="col-8">
        <h1>Web Development</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nobis blanditiis distinctio cum? Totam odit commodi saepe dolores doloribus quos qui architecto aliquam cupiditate ducimus? Ipsum modi obcaecati ipsa quo.
        </p>
      </div>
      <div class="col-4">
        <img src="assets/img/B06WVMJ713-600x600.jpg" alt="computer" class="img-thumbnail">
      </div>
    </div>

    {{> footer }}

  </body>

</html>